//main colors
$beige: beige;
$green:  #0c7942;
$black: #000;
$dark: #191a20;

//original colors
$cloud: #e1decf;
$mint: #18a9b8;
$blue: #024386;
$red: #c9311f;
$yellow: #eee857;

//hover shadow

//button colors