<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공간 뒷동산 | 술과 음식, 음악이 있는 작은공간</title>
    <link rel="stylesheet" href="../src/static/style.css">
    <!-- links for googlefonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">
    <!-- links for favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/icon/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/icon/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/icon/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/icon/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <div class="gnb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-lg-12">
                        <div class="gnb-wrapper">
                            <h1 class="logo">
                                <a href="/">
                                    <img src="../src/static/images/logo.png" alt="공간 뒷동산"/>
                                </a>
                            </h1>
                            <div class="gnb-drawer sm-only">
                                <a
                                    class="gnb-icon-btn"
                                    href="/"
                                    aria-label="메뉴 서랍 열기"
                                >
                                <i class="ic-menu"></i>
                                </a>
                            </div>
                            <nav class="lg-only">
                                <h2 class="visually-hidden">메뉴</h2>
                                    <ul class="gnb-nav-list">
                                        <li class="gnb-nav-item">공간</li>
                                        <li class="gnb-nav-item">메뉴</li>
                                        <li class="gnb-nav-item">상점</li>
                                    </ul>
                            </nav>
                            <div class="gnb-btn-group">
                                <a
                                    class="gnb-icon-btn"
                                    href="/"
                                    aria-label="로그인 페이지로 이동"
                                >
                                <i class="ic-login"></i>
                                </a>
                                <a
                                    class="gnb-icon-btn"
                                    href="/"
                                    aria-label="장바구니 페이지로 이동"
                                >
                                <i class="ic-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="main-sm sm-only">
            <div class="sm-about">
                <div>공간</div>
            </div>
            <div class="sm-menu">
                <div>메뉴</div>
            </div>
            <div class="sm-shop">
                <div>상점</div>
            </div>
        </div> 
        <div class="main-lg lg-only">          
        </div>       
    </main>
    <div></div>
    <footer>
        <div class="footer">
            <div>
                <p>주소는 여기고 | 영업시간은 이렇게 | 전화번호는 여기고 | 인스타는 여기</p>
            </div>
            <div>
                <p>대표자는 누구고 | 사업자등록번호는 이거고</p>
            </div>
            <div>
                <p>this site is now being redesigned / now working on subpages</p>
            </div>
        </div>
    </footer>

</body>
</html>